<div class="row new-item-row">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control new-item-input" placeholder="Username" ng-model="user.name">
        </div>
    </div>
</div>
<div class="row new-item-row">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></span>
            <input type="text" class="form-control new-item-input" placeholder="Password" ng-model="user.password">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default btn-lg btn-add-item" ng-click="login()">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </div>
</div>